<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}" />
      <title>Document</title>
   </head>
   <body>
      <div class="body-wrap boxed-container">
         <main>
            <section class="hero">
               <div class="container">
                  <div class="hero-inner">
                     <div class="hero-copy">
                        <h1 class="hero-title mt-0">NextEd</h1>
                        <p class="hero-paragraph">Revolutionizing education.</p>
                        <div class="hero-cta">
                           <a class="button button-primary" href="#">Buy it now</a>
                        </div>
                     </div>
                     <div class="hero-media">
                        <div class="header-illustration">
                           <img
                              class="header-illustration-image asset-dark"
                              src="https://github-production-user-asset-6210df.s3.amazonaws.com/43414928/320231312-e12e3f67-f522-4695-9b9d-f28c0aa7a716.svg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240406%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240406T195416Z&X-Amz-Expires=300&X-Amz-Signature=4ecc96c83633946ca3b4a5dc7b6ced0173e02651df4bbbde9a7c264cb6b6879e&X-Amz-SignedHeaders=host&actor_id=43414928&key_id=0&repo_id=783003485"
                              alt="Header illustration"
                           />
                        </div>
                        <div class="hero-media-illustration">
                           <img
                              class="hero-media-illustration-image asset-dark"
                              src="https://github-production-user-asset-6210df.s3.amazonaws.com/43414928/320231423-50ed3cad-c9f4-4948-8ef8-d5eae9570403.svg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240406%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240406T195650Z&X-Amz-Expires=300&X-Amz-Signature=6f474159c6d4c48de95c9e14810efbefb4031aed4af2d01903ee963dec74c84b&X-Amz-SignedHeaders=host&actor_id=43414928&key_id=0&repo_id=783003485"
                              alt="Hero media illustration"
                           />
                        </div>
                        <div class="hero-media-container">
                           <img
                              class="hero-media-image asset-light"
                              src="https://github-production-user-asset-6210df.s3.amazonaws.com/43414928/320231465-d8aa907a-d2c6-4883-8f81-efe9a2fed0c0.svg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240406%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240406T195810Z&X-Amz-Expires=300&X-Amz-Signature=8014a39a620e6eaf71c26e6a2ac52dc4ee27769edc6021fbab96d2c31a542fac&X-Amz-SignedHeaders=host&actor_id=43414928&key_id=0&repo_id=783003485"
                              alt="Hero media"
                           />
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </main>
      </div>
   </body>
</html>
