{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/virtualpet.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<main class="p-6 sm:p-10 space-y-6">
   <div class="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between">
      <div class="mr-6">
         <h1 class="text-4xl font-semibold mb-2">NextEd</h1>
         <h2 class="text-gray-600 ml-0.5">Revolutionizing education</h2>
      </div>
      <div class="flex flex-wrap items-start justify-end -mb-3">
         <button class="inline-flex px-5 py-3 text-white bg-purple-600 hover:bg-purple-700 focus:bg-purple-700 rounded-md ml-6 mb-3">
            <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="flex-shrink-0 h-6 w-6 text-white -ml-1 mr-2">
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
            <a class="no-underline border-b border-blue text-blue" href="{% url 'create_notes' %}"> Add new notes </a>.
         </button>
      </div>
   </div>
   <section class="grid md:grid-cols-2 lg:grid-cols-4 gap-6">
      <div class="flex items-center p-8 bg-white shadow rounded-lg">
         <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-purple-600 bg-purple-100 rounded-full mr-6">
            <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
               <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
               />
            </svg>
         </div>
         <div>
            <span class="block text-2xl font-bold">62</span>
            <span class="block text-gray-500">Students registered</span>
         </div>
      </div>
      <div class="flex items-center p-8 bg-white shadow rounded-lg">
         <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-green-600 bg-green-100 rounded-full mr-6">
            <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
               <path fill="#fff" d="M12 14l9-5-9-5-9 5 9 5z" />
               <path fill="#fff" d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
            </svg>
         </div>
         <div>
            <span class="block text-2xl font-bold">12</span>
            <span class="block text-gray-500">Topics completed</span>
         </div>
      </div>
      <div class="flex items-center p-8 bg-white shadow rounded-lg">
         <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-red-600 bg-red-100 rounded-full mr-6">
            <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
         </div>
         <div>
            <span class="inline-block text-2xl font-bold">9</span>
            <span class="block text-gray-500">Challenges completed</span>
         </div>
      </div>
      <div class="flex items-center p-8 bg-white shadow rounded-lg">
         <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-blue-600 bg-blue-100 rounded-full mr-6">
            <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
               <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
               />
            </svg>
         </div>
         <div>
            <span class="block text-2xl font-bold">12</span>
            <span class="block text-gray-500">Flash cards reviewed</span>
         </div>
      </div>
   </section>
   <section class="grid md:grid-cols-2 xl:grid-cols-4 xl:grid-rows-3 xl:grid-flow-col gap-6">
      <div class="flex flex-col md:col-span-2 md:row-span-2 bg-white shadow rounded-lg">
         <div class="px-6 py-5 font-semibold border-b border-gray-100 text-2xl">Recently added notes</div>

         <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 p-4">
            {% for note in notes %}
            <div class="mb-4">
               <div class="h-100 shadow">
                  <a href="{% url 'view_notes' note.id %}">
                     <div class="card-container">
                        <div class="card-body">
                           <h5 class="card-title mb-3">{{ note.title }}</h5>
                        </div>
                        <div class="card-footer">
                           <p class="keywords">{{ note.keywords }}</p>
                        </div>
                     </div>
                  </a>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>

      <div class="row-span-2 bg-white shadow rounded-lg">
         <div class="flex items-center justify-between px-6 py-5 font-semibold border-b border-gray-100">
            <span>Score board</span>
         </div>
         <div class="overflow-y-auto" style="max-height: 24rem">
            <ul class="p-6 space-y-6">
               <li class="flex items-center">
                  <div class="h-10 w-10 mr-3 bg-gray-100 rounded-full overflow-hidden">
                     <img src="https://randomuser.me/api/portraits/women/82.jpg" alt="Annette Watson profile picture" />
                  </div>
                  <span class="text-gray-600">Annette Watson</span>
                  <span class="ml-auto font-semibold">930</span>
               </li>
               <li class="flex items-center">
                  <div class="h-10 w-10 mr-3 bg-gray-100 rounded-full overflow-hidden">
                     <img src="https://randomuser.me/api/portraits/men/81.jpg" alt="Calvin Steward profile picture" />
                  </div>
                  <span class="text-gray-600">Calvin Steward</span>
                  <span class="ml-auto font-semibold">890</span>
               </li>
               <li class="flex items-center">
                  <div class="h-10 w-10 mr-3 bg-gray-100 rounded-full overflow-hidden">
                     <img src="https://randomuser.me/api/portraits/men/80.jpg" alt="Ralph Richards profile picture" />
                  </div>
                  <span class="text-gray-600">Ralph Richards</span>
                  <span class="ml-auto font-semibold">870</span>
               </li>
               <li class="flex items-center">
                  <div class="h-10 w-10 mr-3 bg-gray-100 rounded-full overflow-hidden">
                     <img src="https://randomuser.me/api/portraits/men/79.jpg" alt="Bernard Murphy profile picture" />
                  </div>
                  <span class="text-gray-600">Bernard Murphy</span>
                  <span class="ml-auto font-semibold">720</span>
               </li>
               <li class="flex items-center">
                  <div class="h-10 w-10 mr-3 bg-gray-100 rounded-full overflow-hidden">
                     <img src="https://randomuser.me/api/portraits/women/78.jpg" alt="Arlene Robertson profile picture" />
                  </div>
                  <span class="text-gray-600">Arlene Robertson</span>
                  <span class="ml-auto font-semibold">610</span>
               </li>
            </ul>
         </div>
      </div>
      <div class="flex flex-col row-span-2 bg-white shadow rounded-lg">
         <div class="px-6 py-5 font-semibold border-b border-gray-100">
            <span class="px-6 py-5 text-lg">Meet Pixel</span>
            <br />
            <span class="px-6 py-5 text-sm font-semibold">Level: L3</span>
            <span class="px-3 py-5 text-sm font-semibold">Score: 540</span>
            <div class="progress-bar">
               <div class="progress-bar-inner">Needs 50 more points</div>
            </div>
         </div>

         <div class="row container">
            <div class="body">
               <div class="ears"></div>
               <div class="eyebrows">
                  <div class="left"></div>
                  <div class="right"></div>
               </div>
               <div class="eyes">
                  <div class="left"></div>
                  <div class="right"></div>
               </div>
               <div class="nose"></div>
               <div class="mouth"></div>
               <div class="whiskers">
                  <div class="left"></div>
                  <div class="right"></div>
               </div>
               <div class="tongue"></div>
               <div class="bandana">
                  <div class="top"></div>
                  <div class="bottom"></div>
               </div>
               <div class="stomach"></div>
            </div>
            <div class="legs">
               <div class="lfront"></div>
               <div class="lback"></div>
               <div class="rfront"></div>
               <div class="rback"></div>
            </div>
            <div class="tail"></div>
         </div>
      </div>
   </section>
</main>
{% endblock %}
