{% extends 'base.html' %} {% block content %}
<main class="container mx-auto px-4 sm:px-16 lg:px-8 py-8">
   <div class="grid grid-cols-2 md:grid-cols-3 gap-10">
      <div class="md:col-span-2 bg-white shadow-md rounded-lg px-10 py-8">
         <h1 class="text-4xl font-bold mb-4 text-blue-500">{{ notes.title }}</h1>
         <hr />
         <br />
         <br />
         <div>
            {% if notes %}
            <p class="text-gray-700">{{ notes.content|safe }}</p>
            {% else %}
            <p class="text-gray-700">No notes available.</p>
            {% endif %}
         </div>
      </div>
      <aside class="bg-gray-200 shadow-md rounded-lg px-4 py-8">
         <h2 class="text-lg font-bold mb-4">Mnemonics</h2>
         <p class="text-gray-700" style="word-wrap: break-word">{{ notes.mnemonics }}</p>
         <hr />
         <br />
         <h2 class="text-lg font-bold mb-4">Keywords</h2>
         <p class="text-gray-700">{{ notes.keywords }}</p>
         <hr />
         <br />
         <div class="space-y-2">
            <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300">Create Flashcard</button>
            <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded transition duration-300">Create Challenge</button>
         </div>
      </aside>
   </div>
</main>
{% endblock %}
